@*@using Microsoft.Marketplace.SaasKit.Client.Models*@
@using Microsoft.AspNetCore.Mvc.TagHelpers
@*@model Microsoft.Marketplace.SaasKit.Client.Models.SubscriptionResultExtensionSubscriptionResultExtension
    @{
        //ViewData["Title"] = "Home";
    }*@
<div class="container">
    <form method="post">
        <div class="cm-panel-default mt40">
            <div class="p-3">
                @if (ViewBag.IsCreatingTenant == null)
                {
                    <p>Processing your request.</p>
                    <p>Updated status of the activity is available in the subscription list.</p>
                }
                else if ((bool)ViewBag.IsCreatingTenant)
                {
                    <p>Your tenant setup is in progress. You will receive an email shortly with the next steps.</p>
                }
                else
                {
                    <p>Your environment is being prepared. This process typically takes 15-20 minutes. We'll notify you via email once everything is ready.</p>
                }

            </div>
        </div>
        <div class="text-end">
            <button type="submit" asp-action="Subscriptions" class="cm-button-default mt40 text-end">
                Go to Subscription List
            </button>
        </div>
    </form>
</div>